body {
    background: rgb(8, 88, 88);
    display: block;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: aliceblue;
}


article {
    display: block;
    width: 70%;
    margin: 50px auto;
    text-align: center;
}

#comments {
    width: 80%;
    border: 1px solid rgb(2, 24, 24);
    border-radius: 5px;
    padding: 15px;
    margin-top: 25px 25px;
   margin-left: 100px;
   background: rgb(165, 163, 158);
   
}

div li {
    list-style: none;
    margin: 10px;
    background: rgb(8, 88, 88);
}

#newComment [type='text']{
    width: 70%;
}

input[type='submit'] {
    border: none;
    background-color: black;
    padding: 5px;
    font-size: 16px;
    color: white;
    width: 20%;
    margin: 10px;
    border-radius: 10px;
}

input[type='submit']:hover {
    background-color: rgb(132, 155, 155);
    cursor: pointer;
    color: rgb(73, 0, 61);
}

input[type="text"] {
    padding: 5px;
    border: 2px solid rgb(20, 60, 87);
}
#commentText{
    color: black;
}

